


<div class="col" id="main">
  <div class="column content" id="visualizzazione">
		<div class="col-md-8 themed-grid-col data-header" >


        <form>

      <p class="woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide">
        <label for="reg_email">Username <span class="required">*</span></label>
        <input type="text" class="woocommerce-Input woocommerce-Input--text input-text form-control "
        name="username" id="reg_email" value="" required="" [(ngModel)]="userDTO.username">
      </p>


      <p class="woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide">
        <label for="reg_password">Password <span class="required">*</span></label>
        <input type="password" class="woocommerce-Input woocommerce-Input--text input-text form-control "
        name="password" id="reg_password" required="" [(ngModel)]="userDTO.password">
      </p>

      <p class="form-row form-group user-role">
        <label for="reg_sr_lastname" style="padding-right:10px">Tipo Utente <span class="required">*</span></label>
          <label class="radio" style="padding-right:10px">
              <input type="radio" name="role" value="0" checked="checked" [(ngModel)]="userDTO.type">
              Admin   </label>

          <label class="radio">
              <input type="radio" name="role" value="1" [(ngModel)]="userDTO.type">
              Business Owner    </label>
      </p>

          <p class="woocomerce-FormRow form-row">
              <button class="btn btn-lg btn-primary btn-block" type="submit" (click)="insertUser()">Aggiungi</button>


        </p>


      </form>
    </div>
  </div>
</div>
