<app-menu-bo></app-menu-bo>
<form>
    <div>
        <select [(ngModel)]="thingDTO.idThing" class="form control" name="thingDTO" id="formLabel" >
              <option *ngFor="let thingDTO of thingList" [value]="thingDTO.idThing">{{thingDTO.name}}</option>
        </select>
  </div>
  <div>
      <select [(ngModel)]="keywordDTO.idKeyword" class="form control" name="keywordDTO" id="formLabel" >
            <option *ngFor="let keywordDTO of keywordList" [value]="keywordDTO.idKeyword">{{keywordDTO.name}}</option>
      </select>
</div>
    <p class="tn btn-primary">
          <button class="tn btn-primary" type="submit" (click)="insertLinkTK()">Aggiungi</button>
    </p>
    
</form>