<app-menu-bo></app-menu-bo>
<body class="body">
  <h1 class="title">Lista Hardware</h1>
  
        <div id="container">
  
          <table class="table table-striped">
            <thead>
  
                <tr>
                  <th>ID</th>
                  <th>Nome</th>
                  <th>Descrizione</th>
                  <th>Master</th>
                  <th>IdThing</th>
                  <th></th>
                </tr>
  
            </thead>
  
            <tbody>
  
                <tr *ngFor="let hardwareDTO of hardwareList">
                  <td>{{hardwareDTO.idHardware}} </td>
                  <td>{{hardwareDTO.name}} </td>
                  <td>{{hardwareDTO.description}}</td>
                  <td>{{hardwareDTO.master}}</td>
                  <td>{{hardwareDTO.thing.idThing}}</td>
                  <td><button class="btn btn-primary" (click)="deleteHardware(hardwareDTO)">Elimina</button></td>
                </tr>
  
            </tbody>
          </table>
        </div>
  </body>
  