
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <div class="row" style="width:100%">
      <div class="col-sm-4" style="padding:10px">
        <div class="h-100">
     <div class="d-flex justify-content-center h-100">
       <div class="searchbar">
         <input class="search_input" type="text" name="" placeholder="Search...">
         <a href="#" class="search_icon"><i class="fas fa-search"></i></a>
       </div>
     </div>
   </div>
      </div>
      <div class="col-sm-4">
        <a class="navbar-brand full-width" [routerLink]="['dashboard']">
          <img src="assets\img\asd.svg" height="80" style="padding-top:5px">
        </a>
      </div>
      <div class="col-sm-4" style= "color:white;font-size:2rem;text-align:right;padding:20px">
        <i class="fas fa-radiation-alt icon-padding" style ="color:white"></i>
        <i class="far fa-comments icon-padding"></i>
        <i class="far fa-bell icon-padding"></i>
      </div>
      <!-- <div class="user-info">
          <img src="assets/img/photo3.jpg" class="img-fluid profile-picture" alt="Responsive image">

          <span class="user-name">Jhon
            <strong>Smith</strong>
          </span>
          <span class="user-role">Administrator</span>
          <span class="user-status">
            <i class="fa fa-circle"></i>
            <span>Online</span>
          </span>
        </div> -->
        <div class="collapse navbar-collapse" id="collapsibleNavbar">

        </div>
        </div>
  </nav>
