<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">DETTAGLI</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">AZIONI</a>
   
  </li>
  <li class="nav-item">
    <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">EVENTI</a>
  </li>
  
</ul>
<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
    <div id="container">
      <table class="table table-striped">
        <thead>
            <tr>
              <th>ID</th>
              <th>Nome</th>
              
              <th></th>
              <th></th>
            </tr>
        </thead>

        <tbody>
            
              <td>{{thing.id}} </td>
              <td>{{thing.name}} </td>
              
              
              <td><button class="btn btn-secondary" (click)="deleteThing(thing)"><i class="fas fa-trash-alt" style="color:white"></i></button></td>
              <td><button class="btn btn-secondary" (click)="setThing(thing)"  ><i class="fas fa-pen-square" style="color:white"></i></button>  </td> <!-- (click)="setDTO(thingDTO)" -->
           
        </tbody>
      </table>
      <table class="table table-striped">
      <thead>
        <tr>
          <th>Descrizione<th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <p> {{thing.description}} </p>
          
          <td>
        </tr>
      <tbody>
      </table>
    </div>
  </div>
  <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
      <div id="container">
          <table class="table table-striped">
            <thead>
                <tr>
                
                  <th>Azioni</th>
                  
                  <th></th>
                  <th></th>
                </tr>
            </thead>
    
            <tbody>
                
                  
                  <td>{{thing.actions}} </td>
                  
                  
                  <td><button class="btn btn-secondary" (click)="deleteActionEvent(thing)"><i class="fas fa-trash-alt" style="color:white"></i></button></td>
                  <td><button class="btn btn-secondary" (click)="setActionEvent(thing)"  ><i class="fas fa-pen-square" style="color:white"></i></button>  </td> <!-- (click)="setDTO(thingDTO)" -->
               
            </tbody>
          </table>
          
        </div>
    
    
    </div>
  
  <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">

      <div id="container">
          <table class="table table-striped">
            <thead>
                <tr>
                
                  <th>Eventi</th>
                  
                  <th></th>
                  <th></th>
                </tr>
            </thead>
    
            <tbody>
                
                  
                  <td>{{thing.events}} </td>
                  
                  
                  <td><button class="btn btn-secondary" (click)="deleteActionEvent(thing)"><i class="fas fa-trash-alt" style="color:white"></i></button></td>
                  <td><button class="btn btn-secondary" (click)="setActionEvent(thing)"  ><i class="fas fa-pen-square" style="color:white"></i></button>  </td> <!-- (click)="setDTO(thingDTO)" -->
               
            </tbody>
          </table>
          
        </div>


  </div>
  
</div>