<app-menu-bo></app-menu-bo>

<form>

      <p class="woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide">
            <label class="col-form-label"> Code </label>
            <textarea class="form-control"  name="code" placeholder="Code" [(ngModel)]="thingDTO.code">
</textarea>
      </p>

      <p class="dropbtn">
            <label> Description </label>
            <input type="text" class="dropbtn " name="description" [(ngModel)]="thingDTO.description"
                  placeholder="description">
      </p>
      <p class="woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide">
                  <label class="col-form-label"> Image </label>
                  <input type="file" class="form-control" name="image" [(ngModel)]="thingDTO.image" >
</p>
      <p class="dropbtn">
            <label> Name </label>
            <input type="text" class="dropbtn " name="name" [(ngModel)]="thingDTO.name" placeholder="name">
      </p>
      <p class="dropbtn">
            <label> XML </label>
            <input type="text" class="dropbtn " name="XML" [(ngModel)]="thingDTO.xml" placeholder="XML">
      </p>
      <p class="dropbtn">
            <label> Protocol </label>
            <input type="text" class="dropbtn " name="protocol" [(ngModel)]="thingDTO.protocol" placeholder="protocol">
      </p>

      <div>
            <label>Label</label>
            <select [(ngModel)]="labelDTO.idLabel" class="form control" name="labelDTO" id="formLabel">
                  <option *ngFor="let labelDTO of labelList" [value]="labelDTO.idLabel">{{labelDTO.name}}</option>
            </select>
      </div>
      <p class="tn btn-primary">
            <button class="tn btn-primary" type="submit" (click)="insertThing()">Aggiungi</button>
      </p>

</form>