<head>
<link rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
    crossorigin="anonymous">
</head>
  <div class="clearfix" id="corpo">
    <div class="header" id="intestazione">
      <h1>INCORO</h1>
      
  </div>
  
  <div class="grid-container" id="menu-destra">
    <div class="item1">INCORO</div>
      <form>
        <a href="./insertThing" class="btn btn-lg btn-primary btn-block" > Insert Thing </a>
      </form>
      <form>
        <a href="./insertKeyword" class="btn btn-lg btn-primary btn-block" > Insert Keyword </a>
      </form>
      <form>
        <a href="./insertLabel" class="btn btn-lg btn-primary btn-block" > Insert Label </a>
      </form>
      <form>
        <a href="./insertHardware" class="btn btn-lg btn-primary btn-block" > Insert Hardware </a>
      </form>
      <form>
          <a  href="./insertLinkTK"  class="btn btn-lg btn-primary btn-block" > Insert LinkTK </a>
      </form>
      <form>
        <a href="./listThing" class="btn btn-lg btn-primary btn-block" >List Thing </a>
      </form>        
      <form>
        <a href="./listKeyword" class="btn btn-lg btn-primary btn-block" > List Keyword </a>
      </form>
      <form>
        <a href="./listLabel" class="btn btn-lg btn-primary btn-block" >List Label </a>
      </form> 
      <form>
          <a href="./listHardware" class="btn btn-lg btn-primary btn-block" >List Hardware </a>
      </form> 
      
      <form>
        <a  href="./listLinkTK"  class="btn btn-lg btn-primary btn-block" > List LinkTK </a>
    </form>
  </div>
</div>