
<head>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous">
    <!-- Custom styles for this template -->
    </head>
    
    
      <div class="clearfix" id="corpo">
        <div class="header" id="intestazione">
          <h1>INCORO</h1>
        </div>
    
        <div class="grid-container" id="menu-destra">
            <div class="item1">INCORO</div>
              <form>
                  <a href="./insertUser" class="btn btn-lg btn-primary btn-block" >
                  Insert User </a>
                  </form>

                  <form>
                      <a href="homeAdmin" class="btn btn-lg btn-primary btn-block" >
                      Show User </a>
                      </form>
    
              <form action="/XML/export">
                <button class="btn btn-lg btn-primary btn-block" type="submit"
                  onclick="return confirm('File esportato con successo!')">
                  Esporta File in XML</button>
              </form>
              <form>
    
              <a href="./login" class="btn btn-lg btn-primary btn-block" >Logout </a>
              </form>
              
    
            
        </div>
        </div>
    
    