
<head>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous">
    <!-- Custom styles for this template -->
</head>
    <a class="navbar-brand full-width" href="#">
      <img src="INCORO_Logo-Black.png" class="img-fluid rounded mx-auto d-block" alt="Responsive image">
    </a>

    <div class="py-2 sticky-top flex-grow-1" >
      <div class="nav flex-sm-column">
          <a href="" class="nav-link d-none d-sm-inline">Sidebar</a>
          <a href="./insertUser" class="" >
          Insert User </a>
          <a href="./homeAdmin" class="" >
          Show User </a>
          <form action="/XML/export">
            <button class="" type="submit"
            onclick="return confirm('File esportato con successo!')">
            Esporta File in XML</button>
          </form>
          <a href="./login" class="" >Logout </a>
        </div>
      </div>
