<html>
<head>
<meta charset="ISO-8859-1">

<title>BUSINESS OWNER VIEW</title>
</head>
<body class="text-center">
	
	<div class="clearfix" id="corpo">
	  <div class="header" id="intestazione">
	    <h1>INCORO</h1>
	  </div>
		<div class="column menu intero" id="menu-destra">
	      <ul style="list-style: none;">
	        <li style="text-align:center">
	          <label>MENU</label>
	        </li>
	        <li class="dropbtn">
						<a href="./insertThing" class="dropbtn" > Insert Thing </a>
					</li>
					<li class="dropbtn">
						<a  href="./insertLabel"  class="dropbtn" > Insert Label </a>
					</li>
					<li class="dropbtn">
						<a  href="./insertKeyword"  class="dropbtn" > Insert Keyword </a>
					</li>
					<li class="dropbtn">
						<a href="./listThing" class="dropbtn" > List Things </a>
					</li>
					<li class="dropbtn">
						<a  href="./listLabel" class="dropbtn" > List Label </a>
					</li>
					<li class="dropbtn">
						<a  href="./listkeyword"  class="dropbtn" > Insert Keyword </a>
					</li>
					<li class="dropbtn">
							<a  href="./insertLinkTK"  class="dropbtn" > Insert LinkTK </a>
						</li>
					<li class="dropbtn">
						<a href="./login" class="btn btn-primary t-action" >Logout </a>
					</li>
	      </ul>
	  </div>
		<div class="column content" id="visualizzazione">
		</div>
	</div>
</body>
</html>