<html>
<head>
<meta charset="ISO-8859-1">

<title>BUSINESS OWNER VIEW</title>
</head>
<body class="text-center">
	
	<div class="clearfix" id="corpo">
	  <div class="header" id="intestazione">
	    <h1>INCORO</h1>
	  </div>
		<div class="column menu intero" id="menu-destra">
	      <ul style="list-style: none;">
	        <li style="text-align:center">
	          <label>MENU</label>
	        </li>
	        <li class="dropbtn">
						<a href="./insertThing" class="dropbtn" > Inserisci Thing </a>
	        </li>
					<li class="dropbtn">
						<a href="./listThing" class="dropbtn" > Lista Things </a>
					</li>
					<li class="dropbtn">
						<a  href="./listLabel" class="dropbtn" > Lista Label </a>
					</li>
					<li class="dropbtn">
						<a  href="./insertLabel"  class="dropbtn" > Inserisci Label </a>
					</li>
					<li class="dropbtn">
						<a href="./login" class="btn btn-primary t-action" >Logout </a>
					</li>
	      </ul>
	  </div>
		<div class="column content" id="visualizzazione">
		</div>
	</div>
</body>
</html>