
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <div class="user-info">
      <img src="photo3.jpg" class="img-fluid profile-picture" alt="Responsive image">

      <span class="user-name">Jhon
        <strong>Smith</strong>
      </span>
      <span class="user-role">Administrator</span>
      <span class="user-status">
        <i class="fa fa-circle"></i>
        <span>Online</span>
      </span>
    </div>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">

    </div>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </nav>
